:root {
  --color-bg: #2c2c6c;
  --color-bg-variant: #1F1F38;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, .4);

  --transition: all .5s ease-in-out;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  background-color: var(--color-bg-variant);
  color: white;
  background-image: url('../src/assets/bg-texture.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: var(--color-bg-variant);
  padding: .8rem;
  cursor: pointer;
  transition: var(--transition);
  color: white;
  font-size: 1.1rem;
}

button:hover {
  border-color: white;
  opacity: .8;
}